<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- jQuery first, then Tether, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    
    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <!-- FontAwesome.js -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <link rel="stylesheet" href="{% static 'kpis/table_style.css' %}">
    <link rel="stylesheet" href="{% static 'kpis/styles.css' %}">

  </head>
  <body>
  <div class="jumbotron">
    <a href="{% url 'index' %}"><h1>Welcome to KPIs</h1></a>
    {% if user.is_authenticated %}
      <a href="{% url 'logout' %}">Log Out</a>
      <span>  |  </span>
      <a href="{% url 'kpi_new' %}">New KPI</a>
      <span>  |  </span>
      <a href="{% url 'export_csv' %}">Export CSV</a>
    {% endif %}


  </div>

  <div class="container">
        {% block content %}
        {% endblock %}
  </div>
    
  </body>

      <script type  ="text/javascript" src="{% static 'kpis/main.js' %}"></script>

</html>