{% extends 'kpis/base.html' %}

{% block content %}

    {% if kpi_list %}

    	{% for kpi in kpi_list %}
			{% if forloop.first %}<div class="row" style="">{% endif %}
			<div class="col-md-4">
	    		<div class="container" style="background-color: {{ kpi.get_group_color }};">
	    			<div style="color: white">
						<h1>{{ kpi.title }}</h1>
						<p>{{ kpi.get_period_total }} {% if kpi.periodicity != kpi.DAILY %}This {% endif %}{{ kpi.get_periodicity }}</p>
					</div>
					<a href="{% url 'log_activity' pk=kpi.pk %}" class="btn btn-default">+</a>
					<a href="{% url 'kpi_detail' pk=kpi.pk %}">View Details</a>

	    		</div>
	    		<br>
	    	</div>
	    	{% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
	    	{% if for.loop.last %}</div>{% endif %}

	    {% endfor %}
	    
	    {% else %}
	      <p>No KPIs created, you should create one</p>
    {% endif %}


{% endblock %}

